@import url('https://fonts.googleapis.com/css2?family=Andika&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', fallback-font;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

#navBar {
    position: fixed;
    width: 100vw;
    line-height: 35px;
    background-color: #fff;
    transition: 0.2s;
    display: flex;
    box-shadow: 0 0.1rem 2px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 0 165px;
    z-index: 999;
}

.logo {
    font-size: 35px;
    font-weight: 500;
    line-height: 70px;
    color: #333;
}

#navBar ul {
    display: flex;
}

#navBar ul li a {
    display: block;
    font-size: 20px;
    padding: 15px 15px;
    color: #555;
    border-radius: 35px;
    transition: 0.2s;
}

.container {
    width: 1220px;
    margin: auto;
    text-align: center;
}

.first-section {
    margin-top: 75px;
}

.text {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

.box {
    width: 400px;
    height: auto;
    margin: 120px 70px;
}

.under-text {
    font-size: 25px;
    font-weight: 400;
    margin-top: 30px;
}

.paragraph {
    width: 320px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 70px;
    text-align: justify;
    color: #333;
}

.column {
    float: left;
    width: 50%;
    text-align: left;
    padding: 15px;
    position: relative;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.title {
    margin: 50px 0 30px;
    font-size: 40px;
    font-weight: 400;
}

#title {
    margin: 12px 0;
}

#paragraf {
    margin-top: 10px;
}

.center {
    margin: 70px auto;
}

button {
    border: none;
    border: 2px solid #333;
    background-color: #fff;
    padding: 15px 40px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

.img-center {
    max-width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}

footer {
    width: 1150px;
    justify-content: space-between;
    margin-top: 100px;
    padding: 80px 0px;
}

.icons li {
    display: flex;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.all-reserved  h3 { 
   font-weight: 500;
}
